/* Global */

*,
*::before,
*::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

html {
        scroll-behavior: smooth;
}

img {
        max-width: 100%;
}

.container {
        max-width: 1920px;
        width: 100%;
        margin: 0 auto;
}

.wrapper {
        width: 1440px;
        width: 100%;
        margin: 0 auto;
}