/* Global */

*,
*::before,
*::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

html {
        scroll-behavior: smooth;
}

img {
        max-width: 100%;
}

.container {
        max-width: 1920px;
        width: 100%;
        margin: 0 auto;
}

.wrapper {
        width: 1440px;
        width: 100%;
        margin: 0 auto;
}

:root {
        --orange: #FA5652;
        --green: #035755;
        --gray: #484f51;
        --pink: #FEE6E5;
        --light-pink: #FFF9f9;
        --smooth: all .3s ease-in;
        --shadow: 0 7px 29px 0 rgba(100, 100, 111, .2);
}